<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <form action="/message" method="post">
    	<input type="text" name="email" id="email_input" placeholder="Email"><br>
    	<textarea name="content" id="content_input" placeholder="Content"></textarea><br>
    	<input type="submit" value="Submit" id="submit_btn">
    </form>
    
    <h2>My Messages</h2>
    <hr/>
    <input type="text" placeholder="Search" id="search_input"/>
    <div id="wrapper">
        {{#each data}}
            <div class="data">
                <h4>Email: {{email}}</h4>
                <p><em>Created: ({{created}})</em></p>
                {{content}}
            </div>
        {{else}}
            <h4>No messages to display.</h4>
        {{/each}}
    </div>
</body>

</html>
